body {
    background-color: black;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.header {
    padding: 10px 0;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.nav {
    font-size: 28px;

}

.nav__link {
    display: inline-block;
    vertical-align: top;
    margin: 0 10px;
    text-decoration: none;
    color: #FFF;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

/* думай пока */
.header__logo {
    box-sizing: border-box;
    width: 275px;
    height: 83px;

}

.main {
    width: 1200px;
    height: 300px;
    margin: 200px auto;
}

.main__text {
    width: 639px;
    height: 315px;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 38px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0 auto;
}
.main__con {
    margin: 0 auto;
    width: 320px;
}
.but__main {
    width: 328px;
    height: 70px;
    flex-shrink: 0;
    border-radius: 50px;
    background: linear-gradient(180deg, #FF0F0F  0%, rgba(217, 217, 217, 0.00) 100%);
    margin: 0 auto;
    color: #000;
text-align: center;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 38px;
font-style: normal;
font-weight: 500;
line-height: normal; 
}







.footer__1 {
    width: 246px;
    height: 61px;
}

.footer__1name {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    width: 246px;
    height: 29px;
    color: #fff;
}

.footer__1text {
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;

}


.footer__2 {
    width: 156px;
    height: 61px;
}

.footer__2name {
    width: 156px;
    height: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #fff;
}

.footer__2text {
    width: 135px;
    height: 62px;
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
}

.footer__3 {
    width: 234px;
    height: 59px;

}

.footer__3name {
    width: 234px;
    height: 25px;
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 18px;

}

.nav__footer {
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    width: 112px;
    height: 38px;
    text-decoration: none
}

.footer__texr {
    width: 767px;
    height: 150px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}